<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head(title = 'ホーム',scripts = ~{}, links = ~{})">
</head>
<body>
<a th:href="@{/item/add}">アイテム追加</a>
<p class="text-danger" th:text="${result}"></p>
<ul>
    <li class="text-danger" th:each=" limitItem : ${limitItems}" th:text="${limitItem}"></li>
</ul>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">カテゴリー</th><th class="info">商品名</th>
        <th scope="col">在庫数</th><th class="info">下限</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        <tr th:each=" item : ${items}">
            <td th:text="${category.get(item.category)}"></td>
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.stock}"></td>
            <td th:text="${item.lowerLimit}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/item/' + ${item.id}}">詳細</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>