<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head(title = '出庫',scripts = ~{}, links = ~{})">
</head>
<body>
<div class="receive-body">
    <div class="item">
        <table class="table table-bordered table-hover" style="width: 500px">
            <tr>
                <th class="active">カテゴリー</th>
                <td th:text="${category.get(item.category)}"></td>
            </tr>
            <tr>
                <th class="active">商品名</th>
                <td th:text="${item.itemName}"></td>
            </tr>
            <tr>
                <th class="active">在庫数</th>
                <td th:text="${item.stock}"></td>
            </tr>
        </table>
    </div>
    <div class="receive-form">
        <form th:action="@{/inventory/issue/edit}" method="post" th:object="${issueForm}">
            <table class="table table-bordered table-hover" style="width: 500px">
                <tr>
                    <th class="active">出庫数</th>
                    <td>
                        <div class="form-group" th:classappend="${#fields.hasErrors('issueQuantity')} ? 'has-error'">
                            <input type="text" th:field="*{issueQuantity}" class="form-control">
                            <span class="text-danger" th:if="${#fields.hasErrors('issueQuantity')}" th:errors="*{issueQuantity}">
                                issueQuantity error
                        </span>

                        </div>
                    </td>
                </tr>
            </table>
            <p th:text="${result}" class="text-danger"></p>
            <input type="hidden" th:field="*{inventoryId}">
            <input type="hidden" th:field="*{itemId}">
            <input type="hidden" th:field="*{issueId}">
            <button type="submit" class="btn btn-primary">出庫</button>
        </form>
            <button type="button" class="btn btn-danger" onclick="history.back()">戻る</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                削除
            </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/inventory/issue/delete}" method="post">
                        <div class="modal-body">
                            <h5>削除しますか？</h5>
                            <input type="hidden" name="id" th:value="${issueId}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                            <button type="submit" class="btn btn-danger">削除</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>