<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head(title = '商品詳細',scripts = ~{}, links = ~{})">
</head>
<body>
    <a th:href="@{/}">ホーム</a>
    <table class="table table-bordered table-hover" style="width: 600px">
        <tr>
            <th class="active">カテゴリー</th>
            <td th:text="${category.get(item.category)}"></td>
        </tr>
        <tr>
            <th class="active">商品名</th>
            <td th:text="${item.itemName}"></td>
        </tr>
        <tr>
            <th class="active">下限設定</th>
            <td th:text="${item.lowerLimit}"></td>
        </tr>
        <tr>
            <th class="active">在庫数</th>
            <td th:text="${item.stock}"></td>
        </tr>
    </table>
    <p th:text="${result}"></p>
    <a class="btn btn-primary" th:href="@{'/inventory/receive/' + ${item.id}}">入庫</a>
    <a class="btn btn-success" th:href="@{'/inventory/issue/' + ${item.id}}">出庫</a>
    <a class="btn btn-secondary" th:href="@{'edit/' + ${item.id}}">編集</a>

</body>
</html>