<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head(title = '商品詳細',scripts = ~{}, links = ~{})">
</head>
<body>
    <a th:href="@{/}">ホーム</a>
    <table class="table table-bordered table-hover" style="width: 600px">
        <tr>
            <th class="active">カテゴリー</th>
            <td th:text="${category.get(item.category)}"></td>
        </tr>
        <tr>
            <th class="active">商品名</th>
            <td th:text="${item.itemName}"></td>
        </tr>
        <tr>
            <th class="active">下限設定</th>
            <td th:text="${item.lowerLimit}"></td>
        </tr>
        <tr>
            <th class="active">在庫数</th>
            <td th:text="${item.stock}"></td>
        </tr>
    </table>
    <p th:text="${result}"></p>
    <a class="btn btn-primary" th:href="@{'/inventory/receive/' + ${item.id}}">入庫</a>
    <a class="btn btn-success" th:href="@{'/inventory/issue/' + ${item.id}}">出庫</a>
    <a class="btn btn-secondary" th:href="@{'edit/' + ${item.id}}">編集</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        削除
    </button>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">日付</th><th class="info">数量</th>
            <th scope="col">在庫数</th><th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each=" history : ${histories}">
                <td th:text="${history.date}"></td>
                <td th:text="${history.number}"></td>
                <td th:text="${history.stock}"></td>
                <td>
                    <a th:href="@{'/inventory/edit/' + ${history.id}}" class="btn btn-primary">編集</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/item/delete}" method="post">
                    <div class="modal-body">
                        <h5>削除しますか？</h5>
                        <input type="hidden" th:value="${item.id}" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                        <button type="submit" class="btn btn-danger">削除</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>