<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head(title = '入庫',scripts = ~{}, links = ~{})">
</head>
<body>
<div class="receive-body">
  <div class="item">
    <table class="table table-bordered table-hover" style="width: 500px">
      <tr>
        <th class="active">カテゴリー</th>
        <td th:text="${category.get(item.category)}"></td>
      </tr>
      <tr>
        <th class="active">商品名</th>
        <td th:text="${item.itemName}"></td>
      </tr>
      <tr>
        <th class="active">在庫数</th>
        <td th:text="${item.stock}"></td>
      </tr>
    </table>
  </div>
  <div class="receive-form">
    <form th:action="@{/inventory/receive}" method="post" th:object="${receiveForm}">
      <table class="table table-bordered table-hover" style="width: 500px">
        <tr>
          <th class="active">入庫数</th>
          <td>
            <div class="form-group">
              <input type="text" th:field="*{receiveQuantity}" class="form-control">
            </div>
          </td>
        </tr>
        <tr>
          <th class="form-group">一個あたりの値段</th>
          <td>
            <div class="form-group">
              <input type="text" th:field="*{price}" class="form-control">
            </div>
          </td>
        </tr>
      </table>
      <input type="hidden" th:field="*{inventoryId}">
      <input type="hidden" th:field="*{itemId}">
      <button type="submit" class="btn btn-primary">入庫</button>
      <button type="button" class="btn btn-danger" onclick="history.back()">戻る</button>
    </form>
  </div>

</div>
</body>
</html>